[submodule "alpine-java"]
	path = alpine-java
	url = git@github.com:dddpaul/docker-alpine-java.git
[submodule "alpine-postgres"]
	path = alpine-postgres
	url = git@github.com:dddpaul/docker-alpine-postgres.git
[submodule "alpine-stolon"]
	path = alpine-stolon
	url = git@github.com:dddpaul/docker-alpine-stolon.git
[submodule "alpine-lets-nginx"]
	path = alpine-lets-nginx
	url = git@github.com:dddpaul/lets-nginx
[submodule "docker-alpine-tomcat7"]
	path = docker-alpine-tomcat7
	url = git@github.com:dddpaul/docker-alpine-tomcat7.git
[submodule "alpine-tomcat7"]
	path = alpine-tomcat7
	url = git@github.com:dddpaul/docker-alpine-tomcat7.git
